* {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
html {
    height: 100%;
    background-image: linear-gradient(to bottom right, lavender, cyan);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: burlywood;
 }
 main {
    height: 100%;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: blanchedalmond;
}
body {
    margin: 0;
}
a:hover {
    color: red;
}
#contract-div {
    max-width: 600px;
    margin: auto;
}
li {
    text-align: left;
}