* {
    font-family: monospace;
}
input {
    max-width: 100px;
}
.wrapper {
    width: 373px;
    height: 200px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: lightgray;
}
.buttons {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.bottom-buttons {
    text-align: center;
}
.display {
 margin-top: 10px;
}
#operand-display {
    display: inline;
}
#operand1 {
margin-left: 5px;
}
#output {
  width: 100px;
  max-width: 100px;
  height: 18px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 20px;
}
#error {
    font-size: 16px;
    color: red;
    text-align: center;
}
#clear {
    font-family: 'Courier New', Courier, monospace;
}