<footer>
  <div class="footer-1">
    <p class="footer-nav"><a href="https://github.com/willboesetrio" target="_blank">Github</a> &#10736 <a href="https://www.codecademy.com/profiles/dev7104250399" target="_blank">Codecademy</a> &#10736 <a href="https://www.freecodecamp.org/William_Boese" target="_blank">FreeCodeCamp</a></p>
  </div>
  <div class="footer-2">
    <p class="bottom-signature">&copy;When keeping it real goes wrong</p>
    <a href="https://validator.w3.org/check?uri=referer">
      <img src="images/button_validation_html5.png" alt="validate html" id = "html-btn">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
      <img src="images/button_validation_css.png" alt="validate css" id="css-btn">
    </a>
  </div>
</footer>