<footer>
    <nav><a href="https://github.com/willboesetrio" target="_blank">Github</a> | <a href="https://willboesetrio.github.io" target="_blank">Github io</a> | <a href="https://gitlab.com/willboesetrio">Gitlab</a> | <a href="https://willboesetrio.gitlab.io/willboesetrio-github-io/">Gitlab io</a> | <a href="https://www.codecademy.com/profiles/dev7104250399" target="_blank">Codecademy</a> | <a href="https://www.freecodecamp.org/William_Boese" target="_blank">FreeCodeCamp</a></nav>
    <p>Designed By: <a target="_blank" href="business_card.html">&copy;REL Epiphany</a></p>
    <a href="https://validator.w3.org/check?uri=referer" id = "html-btn">
      <img src="images/button_validation_html5.png" alt="validate html">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="css-btn">
      <img src="images/button_validation_css.png" alt="validate css">
    </a>
    <script>
    document
      .getElementById("html-btn")
      .setAttribute(
        "href",
        "https://validator.w3.org/check?uri=" + location.href
      );
    document
      .getElementById("css-btn")
      .setAttribute(
        "href",
        "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href
      );
console.log(location.href);
alert(location.href)
    </script>
</footer>