<footer>
  <a href="https://validator.w3.org/check?uri=referer" id = "html-btn" style="text-decoration: none;">
    <img src="../../images/button_validation_html5.png" alt="validate html">
  </a>
  <a href="https://jigsaw.w3.org/css-validator/check/referer" id="css-btn" style="text-decoration: none;">
    <img src="../../images/button_validation_css.png" alt="validate css">
  </a>
  <script>
  document
    .getElementById("html-btn")
    .setAttribute(
      "href",
      "https://validator.w3.org/check?uri=" + location.href
    );
  document
    .getElementById("css-btn")
    .setAttribute(
      "href",
      "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href
    );
  </script>
</footer>