
* {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: darkred
    
}
html {
    height: 100%;
    background-image: linear-gradient(to bottom right, lavender 25%, cyan);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: burlywood;
    height: 90px;
 }
footer nav {
    padding: 4px 0 0 0;
    margin: 0;
}
 main {
    height: 100%;
    width: 100%;
    margin-top: 90px;
    padding-top: 10px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: blanchedalmond;
    height: 90px;
}
body {
    margin: 0;
}
h1 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
#contract-div {
    max-width: 600px;
    margin: auto;
}
li {
    text-align: left;
}
figcaption {
    font-style: italic;
}
figure img {
    height: 200px;
    border-radius: 25px;
}
ul {
    margin-left: 100px;
}
section {
    max-width: fit-content;
    margin:auto;
    font-size: 105%;
}
.behind-footer {
    height: 90px;
} 
.about-content {
    margin: auto;
    max-width: 400px;
}
footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}
