
* {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
html {
    height: 100%;
    background-image: linear-gradient(to bottom right, lavender 25%, cyan);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: burlywood;
    height: 100px;
 }
 main {
    height: 100%;
    width: 100%;
    margin-top: 120px;
    padding-top: 10px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: blanchedalmond;
    height: 120px;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
#contract-div {
    max-width: 600px;
    margin: auto;
}
li {
    text-align: left;
}
figcaption {
    font-style: italic;
}
figure img {
    height: 200px;
    border-radius: 25px;
}
ul {
    margin-left: 100px;
}
#intro-content {
    max-width: fit-content;
    margin:auto;
}
.behind-footer {
    height: 100px;
} 
.about-content {
    margin: auto;
    max-width: 400px;
}